
<%- include("navbar.ejs") %>
<div class="banner">
<div class="container">
        <div class="content row d-flex justify-content-center text-white text-center pt-5" style="">
            <div class="col-md-6 mt-5 pt-5">
                <h1 class="home-slide-title">FIND YOUR NEAR HOUSE</h1>
                <P class="home-slide-subtitle">Find your nearest and favorite house in a very easy way
                <br> It is our responsibility to find you a home
                </P>
                <div>
                    <button class=" btn-outline-info" type="button">student</button>
                    <button class=" btn-outline-info" type="button">owner</button>
                </div>
            </div>
        </div>
</div>
</div> 






    <div class="container">
        <div class="row p-4">
            <div class="col-12 text-center mt-5 mb-5">
                <h1 class="fw-bold"><span style="color:#60c3ad">Not just</span> four walls and a roof</h1>
                <p class="fs-5 text-secondary">Come over and experience how a place to stay can be so much more</p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-6">
                        <img src="website-img/building.webp" class="img-fluid">
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 mt-3">
                                <img src="website-img/tables.webp" class="img-fluid rounded">
                            </div>
                            <div class="col-12 mt-3">
                                <img src="website-img/home_page_section_1.webp" class="img-fluid rounded">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-3 d-flex justify-content-center p-md-5 p-3 text-md-start text-center" style="flex-direction: column;">
                <h1 class="h1 fw-bold">Start living your best life from <span style="color:#60c3ad">day one </span>    </h1>
                <p class="fs-5 text-secondary">Bring a box full of hopes, dreams, ambitions… and of course, your personal belongings. 
                    Everything else - furniture, appliances, food - has already been taken care of.
                </p>
            </div>
            
        </div>
    </div>


    <div class="container p-5">
        <div class="row">
            <div class="col-md-6">
                <h1 class="pt-5 font-weight-bold">ARE YOU LOOKING FOR</h1>
                <h1 class="font-weight-bold"style="color:#15b36a">RENTAL PROPERTIES?</h1>
               <p> view and book your appointment with our <br>
                partners</p> 
                <button class="btn btn-outline-success font-weight-bold">View Properties</button>
            </div>  
            <div class="col-md-6">
                <img src="three.jpg" alt="" class=""style="position: relative;border:10px solid white;outline:1px solid black;border-radius:5px;;height: 250px;width: 400px;">
                <img src="two.jpg" alt=""class=""style="position: relative;top:-50px;border:10px solid white;outline:1px solid black;border-radius:5px;height: 250px;width: 400px;">
            </div>   
        </div>
    </div>

<div class="container p-5">
    <div class="row">
        <div class="col-md-7">
            <h1 class="pt-5 font-weight-bold"style="color:#15b36a">Connect with us <span class="text-dark"> from <br> anywhere</span></h1>
           <p class="pt-3">Download the mobile app and enjoy the smoothest <br>experience</p> 
            <!-- <button class="btn btn-outline-success font-weight-bold">view Paroperties</button> -->
          </div>  
          <div class="col-md-5">
            <img src="mobile.jpg" alt=""class="w-100 ml-5">
          </div>
         
    </div>
</div>

<div class="container p-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center "style="color:orange">Rent a room in United States</h1>
            <p class="text-justify">The United states of America (USA) is a huge Country, with this vast expanse of urban land and well-populated cities,its's not diffcult to find roommates and rooms for rent in one of the 50 states and the District of Columbia that make up the USA however,the wide-ranging choices and numerous roommate wanted offerings may be somewhat overwhelming Roomgo is extremely useful in this area Our roommate finder can help you narrow down your choices and rend a room you'll love in the USA</p>
          </div>  
          <div class="col-md-12">
            <h1>Why use Roomgo</h1>
            <p>Happy roommates stay longer! At Roomgo we care about matching quality.</p>
            <div class="row">
                <div class="col-md-4 mt-3 ">
                    <div class="card h-100" style="">
                        <h1 class="text-center p-3"style="color:orange;font-size:60px;"><i class="fa-solid fa-house"></i></h1>
                        <div class="card-body">
                          <h5 class="card-title">Find your room</h5>
                          <p class="card-text">we manually check every room ad on Roomgo to keep you safe find your perfect room discover who lives there and arrange a viewing .</p>
                          <div class="text-center pt-4"><a href="#" class="btn btn-outline-success"> FIND A ROOM</a></div>
                        </div>
                      </div>
                </div>

                <div class="col-md-4 mt-3 ">
                    <div class="card h-100" style="">
                        <h1 class="text-center p-3"style="color:orange;font-size:60px;" ><i class="fa-solid fa-users"></i></h1>
                        <div class="card-body">
                          <h5 class="card-title">Meet the roommates</h5>
                          <p class="card-text text-justify">see roommates searching in your area and find the right person for your co living space.Offer your room directly or wait to be contacted it's up to you!.</p>
                          <div class="text-center pt-1"></div><a href="#" class="btn btn-outline-success">POST YOUR ROOM</a>
                        </div>
                      </div>
                </div>

                <div class="col-md-4 mt-3 ">
                    <div class="card h-100" style="">
                        <h1 class="text-center p-3" style="color:orange;font-size:60px;"><i class="fa-solid fa-comment-dots"></i></h1>
                        <div class="card-body">
                          <h5 class="card-title">we're here to help</h5>
                          <p class="card-text">Roomgo are here with expert tools and advice to help you find the right co living space for you .</p>
                        <div class="text-center pt-5">  <a href="#" class="btn btn-outline-success" >Visit FAQS</a></div>
                        </div>
                      </div>
                </div>
            </div>
          </div>
         
    </div>
</div>
    <!-- ROOM CARDS  -->
    <div class="container mb-5">
        <div class="row">
            <% for(i=0;i<room_det.length;i++){ %>
                <!-- CARD ITEM START -->
                <div class="col-md-4 col-sm-3 mt-4">
                    <div class="card h-100 shadow" style="border-radius:13px !important;overflow: hidden;">
                        <div class="card-header p-0" style="height:200px" >
                            <img src="room_img/<%=room_det[i].img1%>" style="object-fit:contain;" class="w-100">
                        </div>
                        <div class="card-body card-text bg-white position-relative" style="border-radius:20px 20px 0px 0px !important; top:-20px;">
                            <p class="card-title fs-5 fw-bold text-secondary"><%=room_det[i].preference%> required in <%=room_det[i].area%></p>
                            <p>
                                <i class="fa fa-location-dot fs-5 text-secondary mt-2"  style="width:10%;"></i>
                                <span class="float-right text-secondary" style="width:90%;font-size:15px;">
                                    <!-- Manyata Tech Park, Rachenahalli Main Rd, Thanisandra, Bengaluru, Karnataka -->
                                    <%= room_det[i].area%>,
                                    <%= room_det[i].city_village%>,
                                    <%= room_det[i].dist%>,
                                    <%= room_det[i].state%>,
                                    <%= room_det[i].country%>
                                </span>
                            </p>
                        
                            <div class="bg-white border-0 mt-5 ps-3 pe-3">
                                <span class="float-start">&#8377;<%= room_det[i].rent%></span>
                                <a href="room_details/<%=room_det[i].room_id%>" class="btn btn-sm btn-outline-success float-end">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CARD ITEM END -->
            <% } %>
            
        </div>
   
    </div>
    <%- include("footer.ejs") %>
